<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Project - Synclab</title>
    <link rel="shortcut icon" href="/static/images/favicon.png" type="image/x-icon">
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/fontawesome.min.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/responsive.css">
</head>
<body>

    <!-- preloader area start -->
  <div class="preloader" id="preloader">
    <div class="preloader-inner">
      <div class="cube-wrapper">
        <div class="cube-folding">
          <span class="leaf1"></span>
          <span class="leaf2"></span>
          <span class="leaf3"></span>
          <span class="leaf4"></span>
        </div>
        <span class="loading" data-name="Loading">Loading</span>
      </div>
    </div>
  </div>
  <!-- preloader area end -->

    <!-- Navbar Area start -->
    <header class="navigation">
        <div class="container">
            <nav class="navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="/index9"><h3>Synclab</h3></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#mainmenu" aria-controls="mainmenu" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="mainmenu">
                    <ul class="navbar-nav ml-auto">
                        <li class="nav-item"><a class="nav-link" href="/index9">Home</a></li>
                        <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                        <li class="nav-item"><a class="nav-link" href="/help">Get Help</a></li>
                        <li class="nav-item"><a class="nav-link" href="/projects">Projects</a></li>
                        <li class="nav-item"><a class="nav-link" href="/contactpage">Contact Us</a></li>
                        {% if user.is_authenticated %}
                            <li class="nav-item">
                                <a class="nav-link" href="{% url 'all_projects' %}">All Projects</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="#" onclick="document.getElementById('logout-form').submit();">Logout</a>
                                <form id="logout-form" method="POST" action="{% url 'logout' %}" style="display: none;">
                                    {% csrf_token %}
                                </form>
                            </li>
                        {% else %}
                            <li class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Login</a>
                                <div class="dropdown-menu">
                                    <a class="dropdown-item" href="{% url 'login' %}">Login</a>
                                    <a class="dropdown-item" href="{% url 'registerpage' %}">Register</a>
                                </div>
                            </li>
                        {% endif %}
                    </ul>
                </div>
            </nav>
        </div>
    </header>
    <!-- Navbar Area End -->

    <!-- Breadcrumb Area Start -->
    <section class="breadcrumb-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h4 class="title">Edit Project</h4>
                    <ul class="breadcrumb-list">
                        <li>
                            <a href="/index9"><i class="fas fa-home"></i> Home</a>
                        </li>
                        <li>
                            <span><i class="fas fa-chevron-right"></i></span>
                        </li>
                        <li>
                            <a href="{% url 'my_projects' %}">My Projects</a>
                        </li>
                        <li>
                            <span><i class="fas fa-chevron-right"></i></span>
                        </li>
                        <li>
                            <span>Edit Project</span>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <!-- Breadcrumb Area End -->

    <!--Main Content-->
    <section class="form-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-10 col-lg-8">
                    <div class="section-title">
                        <br>
                        <h2 class="title">Edit Project</h2>
                        <p>Update your project details below.</p>
                    </div>
                    <div class="contact-form-wrapper">
                        <form id="edit-project-form" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="row">
                                <div class="col-md-12">
                                    <input type="text" class="input-field borderd" name="title" value="{{ form.title.value }}" placeholder="Project Title" required>
                                </div>
                                <div class="col-md-12">
                                    <input type="text" class="input-field borderd" name="technologies_used" value="{{ form.technologies_used.value }}" placeholder="Technologies Used" required>
                                </div>
                                <div class="col-md-12">
                                    <textarea class="input-field borderd textarea" rows="3" name="description" placeholder="Project Description" required>{{ form.description.value }}</textarea>
                                </div>
                                <div class="col-md-12">
                                    <label for="file" class="form-label">Upload New File (if any):&nbsp;&nbsp;</label>
                                    <input type="file"  name="file" id="file">
                                </div><br><br>
                                <div class="button-group">
                                    &nbsp;<button type="submit" class="btn btn-primary"><span>Save Changes</span></button>
                                    <a href="{% url 'my_projects' %}" class="btn btn-secondary">Cancel</a>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!--Main Content-->

    <!-- Footer Section Start -->
  <footer class="footer" id="footer">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-md-6">
          <div class="footer-info-area">
            <div class="footer-logo">
              <a href="#" class="logo-link">
                <!-- <img src="assets/images/logo-color.png" alt=""> -->
                 <h3>SYNCLAB</h3>
              </a>
            </div>
            <div class="text">
              <p>Conveying or northward offending admitting perfectly my. Colonel gravity get thought fat smiling add
                but. 
              </p>
            </div>
          </div>
          <div class="fotter-social-links">
            <ul>
              <li>
                <a href="#" class="facebook">
                  <i class="fab fa-facebook-f"></i>
                </a>
              </li>
              <li>
                <a href="#" class="twitter">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="#" class="linkedin">
                  <i class="fab fa-linkedin-in"></i>
                </a>
              </li>
              <li>
                <a href="#" class="google-plus">
                  <i class="fab fa-google-plus-g"></i>
                </a>
              </li>
              <li>
                <a href="#" class="dribbble">
                  <i class="fab fa-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="copy-bg text-center">
      <p>Copyright © 2024. All rights reserved by
        <a href="/index9">Synclab.com</a>
      </p>
    </div>
  </footer>
  <!-- Footer Section End -->

  <!-- Back to Top Start -->
  <div class="bottomtotop">
    <i class="fa fa-chevron-right"></i>
  </div>
  <!-- Back to Top End -->


  <!-- jquery -->
  <script src="/static/js/jquery.js"></script>
  <!-- popper -->
  <script src="/static/js/popper.min.js"></script>
  <!-- bootstrap -->
  <script src="/static/js/bootstrap.min.js"></script>
  <!-- way poin js-->
  <script src="/static/js/waypoints.min.js"></script>
  <!-- owl carousel -->
  <script src="/static/js/owl.carousel.min.js"></script>
  <!-- magnific popup -->
  <script src="/static/js/jquery.magnific-popup.js"></script>
  <!-- aos js-->
  <script src="/static/js/aos.js"></script>
  <!-- counterup js-->
  <script src="/static/js/jquery.countdown.min.js"></script>
  <!-- easing js-->
  <script src="/static/js/jquery.easing.1.3.js"></script>
  <!-- Map js -->
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC7eALQrRUekFNQX71IBNkxUXcz-ALS-MY&amp;sensor=false"></script>
	<script src="/static/js/gmap.js"></script>
  <!-- main -->
  <script src="/static/js/contact.js"></script>
  <!-- main -->
  <script src="/static/js/main.js"></script>
</body>


<!-- Mirrored from geniusdevs.com/themeforest/prolab/probucket/login.html by HTTrack Website Copier/3.x [XR&CO'2014], Tue, 23 Jul 2024 11:39:44 GMT -->
</html>